<!-- <h2>Edit Task</h2>
<form #updateForm="ngForm" (ngSubmit)="updateTask()">
  <div class="form-group">
    <label for="title">Task Name</label>
    <input type="text" id="title" name="title" [(ngModel)]="task.title" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="dueDate">Due Date</label>
    <input type="date" id="dueDate" name="dueDate" [(ngModel)]="task.dueDate" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Status</label>
    <select name="status" [(ngModel)]="task.status" class="form-control">
      <option value="ToDo" class="text-warning"><i>To Do</i></option>
      <option value="Pending" class="text-danger"><i>Pending</i></option>
      <option value="Completed" class="text-success"><i>Completed</i></option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form> -->
